{% extends 'base.html.twig' %}

{% block css %}
    {{ encore_entry_link_tags('forum') }}
{% endblock %}

{% block js %}
    {{ encore_entry_script_tags('forum') }}
{% endblock %}

{% block title %}eProtest.pl - Razem zmieniajmy świat!{% endblock %}

{% block body %}
    <header class="wrapper">
        <section class="wrapper__topBar">
            <div class="wrapper__logo">
                <img src="{{ asset('image/logo_dark.svg') }}" alt="Logo" class="wrapper__logoImage">
            </div>
            <div class="wrapper__searchBar">
                <input type="text" class="wrapper__search" placeholder="Wyszukaj...">
            </div>
            {#<div class="wrapper__notification">#}
                {#<img src="" alt="" class="wrapper__notificationImage">#}
            {#</div>#}
            <div class="wrapper__user">
                <img src="{{ asset('image/avatar.png') }}" alt="" class="wrapper__userAvatar">
                <ol class="wrapper__userOption">
                    <li class="wrapper___optionItem" id="openProfile">
                        <img src="{{ asset('image/user.svg') }}" alt="" class="wrapper__itemImage"> Profil
                    </li>
                    <li class="wrapper___optionItem" id="openSettings">
                        <img src="{{ asset('image/settings.svg') }}" alt="" class="wrapper__itemImage"> Ustawienia
                    </li>
                    <li class="wrapper___optionItem logout" id="logout">
                        <img src="{{ asset('image/logout.svg') }}" alt="" class="wrapper__itemImage"> Wyloguj się
                    </li>
                </ol>
            </div>
        </section>
    </header>
    <main class="main">
        <div class="main__leftBar">
            <button class="main__add" id="addEvent">Utwórz wydarzenie</button>

            <ol class="main__options">
               <li class="main__item"><img src="{{ asset('image/discussion.svg') }}" alt="" class="main__itemImage">Dyskusja</li>
            </ol>
            <ol class="main__categories">
                <li class="main__category all">Wszystkie</li>
                <li class="main__category eco">Ekologiczny</li>
                <li class="main__category social">Społeczny</li>
                <li class="main__category political">Polityczny</li>
                <li class="main__category religious">Religijny</li>
            </ol>
        </div>
        <div class="main__rightBar">
            <section class="main__events">
                <div class="main__event">
                    <span class="main__categoryLabel ecoLabel">Ekologiczny</span>
                    <div class="main__logo">
                        <img src="{{ asset('image/defaultLogo.png') }}" alt="" class="main__logoImage">
                    </div>
                    <div class="main__text">
                        <p class="main__title">
                            Dziura ozonowa zabija nas wszystkich!
                        </p>
                        <div class="main__data">
                            <p class="main__owner">Nickname</p> rozpoczął: <p class="main__date">18.10.2019</p>
                        </div>
                    </div>
                    <div class="main__respondUser">
                        <img src="{{ asset('image/avatar.png') }}" alt="" class="main__respondUserImage">
                        <img src="{{ asset('image/avatar.png') }}" alt="" class="main__respondUserImage">
                        <img src="{{ asset('image/avatar.png') }}" alt="" class="main__respondUserImage">
                        <img src="{{ asset('image/end.jpg') }}" alt="" class="main__respondUserImage">
                    </div>
                    <div class="main__commentCount">
                        <img src="{{ asset('image/comment.svg') }}" alt="" class="main__commentImage">
                        <p class="main__count">6</p>
                    </div>
                </div>
            </section>
        </div>
    </main>
{% endblock %}
